/* Tags */

body {
  color: #171717;
  overflow-x: hidden;
}

/* Base */

.color-111 { color: #111; }

.button-black {
  background: #171717;
  color: #fff;
  border-color: #171717;
}

.button-white {
  background: #fff;
  color: #171717;
  border-color: #999;
}

.ul-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.hr {
  margin: 0;
  padding: 0;
  height: 1px;
  background-color: #c6c6c6;
  border: none;

  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

.main {}

@media only screen and (min-width: 48rem) {
  .hr {
    display: none;
  }
}

/*.full-width-xs {

}

@media only screen and (max-width: 48rem) {
  .full-width-xs {
    width: 100vw;
    position: relative;
    left: 0;
    right: 0;
    margin-left: 0;
    margin-right: 0;
  }
}*/

/* Header */

.header {
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #c6c6c6;
}

.header-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (min-width: 48rem) {
  .header {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }
}

/* Product info */

.product-info {
  display: flex;
  flex-direction: column;
}

.product-info-title {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 1.25rem;
  font-family: 'Lora', serif;
  font-weight: normal;
  line-height: 1.2;
}

.product-info-images-wrapper {
  position: relative;
  left: 50%;
  right: 50%;
  margin: 0;
  margin-left: -50vw;
  margin-right: -50vw;
  padding: 0;
  width: 100vw;
}

.product-info-images {
  display: flex;
  flex-direction: row;
  overflow-y: auto;
}

.product-info-image {
  width: 300px;
  height: 100%;
}

@media only screen and (min-width: 48rem) {
  .product-info {
    flex-direction: row;
  }

  .product-info-image {
    width: 432px;
    height: 100%;
  }

  .product-info-title {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
  }

  .product-info-images-wrapper {
    position: static;
    left: 0;
    right: 0;
    margin-left: 0;
    margin-right: 0;
    padding-right: 0.5rem;
    width: 100%;
  }
}

/* :description */

.product-info-description-wrapper {
  margin: 0;
  margin-top: 1rem;
  padding: 0;
}

.product-info-description {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-info-price,
.product-info-articul {
  margin: 0;
  margin-bottom: 1rem;
  font-family: 'Raleway', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.product-info-price {
  font-weight: normal;
  font-size: 1rem;
  line-height: 20px;
}

.product-info-articul {
  font-size: 0.75rem;
  line-height: 1.33;
}

.product-info-current-color {
  margin: 0;
  font-family: 'Raleway', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 0.75rem;
  line-height: 1.33;
}

.product-info-colorpicker {
  display: flex;
  margin-top: 1rem;
}

.product-info-colorpicker-button {
  box-sizing: border-box;
  margin-right: 1rem;
  padding: 1.25rem;
  width: 0;
  height: 0;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-indent: -9999px;
  box-shadow: inset 0px 0px 0px 1px #232122;
  border: none;
  border-radius: 1.25rem;
}

.colorpicker-button-black { background-color: #232122; }
.colorpicker-button-honey { background-color: #cfa880; }

@media only screen and (min-width: 48rem) {
  .product-info-description-wrapper {
    margin-top: 0;
    padding-left: 0.5rem;
  }
}

/* Item size info */

.product-info-size {
  margin-bottom: 2.5rem;
  margin-top: 2rem;
  border-top: 1px solid #c6c6c6;
}

.product-info-size-buttons {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}

.product-info-size-button {
  margin-bottom: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-weight: 400;
  font-family: 'Raleway', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 0.75rem;
  line-height: 1.17;
  border-width: 1px;
  border-style: solid;
  border-radius: 2px;
}

.product-info-size-button-help {
  margin-top: 1px;
  padding: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-family: 'Raleway', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 0.75rem;
  line-height: 1.33;
  border: none;
  background: transparent;
}

/* Menu */

.product-menu-header {
  /*border-top: 1px solid #c6c6c6; */
}

.product-menu-header-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
  padding-top: 2rem;
  padding-bottom: 2rem;
  width: 100%;
  border: none;
  background: transparent;
}

.product-menu-header-title {
  margin: 0;
  font-family: 'Raleway', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 1rem;
  font-weight: 500;
  line-height: 20px;
}

.product-menu-header-button:after {
  content: url('../img/icon-open.svg');
}

@media only screen and (min-width: 48rem) {
  .product-menu-header-button {
    padding-top: 1.5rem;
    padding-bottom: 1rem;
  }
}

/* Description */

.product-description { }

.product-description-content { margin-bottom: 2rem; }

.product-description-content-p {
  margin: 0;
  padding: 0;
  font-family: 'Lora', serif;
  font-size: 0.875rem;
  line-height: 24px;
}

.product-description-content ul {
  margin: 0;
  margin-top: 1.5rem;
  padding: 0;
  list-style: none;
}

.product-description-content li {
  margin: 0;
  font-family: 'Lora', serif;
  font-size: 0.875rem;
  line-height: 24px;
}

@media only screen and (min-width: 48rem) {
  .product-description-content { margin-bottom: 1.5rem; }
}

/* Shipping */

.product-shipping {}

@media only screen and (min-width: 48rem) {
  .product-shipping {
    display: none;
  }
}

/* Delivery */

.product-delivery {
  display: none;
}

.product-delivery-image {
  margin: 0;
  padding: 0;
  padding-right: 0.5rem;
  width: 100%;
  height: 100%;
  align-content:
}

.product-delivery-description {
  padding: 0;
  padding-left: 0.5rem;
}

.product-delivery-title {
  display: inline-block;
  margin: 0;
  margin-bottom: 1rem;
  font-family: 'Raleway', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 1rem;
  font-weight: 500;
}

.product-delivery-description-row {
  margin: 0;
  padding: 0;
  margin-bottom: 1.5rem;
}

.product-delivery-description-title {
  margin: 0;
  margin-bottom: 0.25rem;
  padding: 0;
  font-family: 'Raleway', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 0.75rem;
  font-weight: bold;
}

.product-delivery-description-text {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 0.75rem;
  line-height: 16px;
}

@media only screen and (min-width: 48rem) {
  .product-delivery {
    display: flex;
    flex-direction: row;
  }
}

/* Other */

.product-other-title {
  /*background: red;*/
  display: inline-block;
  margin: 0;
  margin-bottom: 1rem;
  padding-bottom: 0.5rem;
  font-family: 'Raleway', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.19;
  border-bottom: 1px solid #111;
}

@media only screen and (min-width: 48rem) {
  .product-other-title {
    margin-bottom: 0.5rem;
  }
}

/* Recommend */

.product-recommend {
  padding-top: 3rem;
  /*border-top: 1px solid #c6c6c6;*/
}

.product-recommend-list {
  display: flex;
  margin-top: 0.5rem;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-grow: 1;
}

.product-recommend-card {
  box-sizing: border-box;
  margin-bottom: 2rem;
  padding: 0;
}

.product-recommend-card:nth-child(odd) {
  padding-right: 0.875rem;
}

.product-recommend-card:nth-child(even) {
  padding-left: 0.875rem;
}

.product-recommend-card-image {
  width: 100%;
  /*margin: 0;
  padding: 0;
  background: blue;*/
}

.product-recommend-card-title {
  margin: 0;
  margin-top: 5px;
  margin-bottom: 0.5rem;
  padding: 0;
  font-weight: normal;
  font-family: 'Lora', serif;
  font-size: 1rem;
  line-height: 1.19;
  color: #111;
}

.product-recommend-card-price {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1.17;
  color: #999;
}

@media only screen and (min-width: 48rem) {
  .product-recommend {
    padding-top: 1.5rem;
  }

  .product-recommend-card:nth-child(odd) {
    padding-right: 0rem;
  }

  .product-recommend-card:nth-child(even) {
    padding-left: 0rem;
  }

  .product-recommend-card {
    /*margin-right: 1rem;*/
    flex-basis: 23.4%;
    margin-bottom: 0;
  }
}

/* More */

.product-more {
  margin-top: 1rem;
}

.product-more-links {
  margin-top: 0.5rem;
}

.product-more-link-row {
  margin-bottom: 1rem;
  font-family: 'Lora', serif;
  font-size: 0.875rem;
  line-height: 17px;
}

.product-more-link {
  text-decoration: none;
  font-style: italic;
  color: #171717;
}

@media only screen and (min-width: 48rem) {
  .product-more {
    display: none;
  }
}

/* footer */

.footer {
  /*margin-left: auto;*/
  /*margin-right: auto;*/
  margin-top: 4rem;
  /*padding-right: 1rem;*/
  /*padding-left: 1rem;*/
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #f3f3f3;
}

.footer-links {
  display: none;
  margin-bottom: 1.25rem;
}

.footer-links-title {
  margin: 0;
  margin-bottom: 1rem;
  padding: 0;
  font-family: 'Raleway', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 0.75rem;
}

.footer-links-column {
  margin: 0;
  padding: 0;
  flex-basis: 23.4%;
  margin-right: 1rem;
}

.footer-links-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-link-li {
  margin: 0;
  margin-bottom: 0.75rem;
  padding: 0;
  font-family: 'Raleway', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 600;
  font-size: 0.75rem;
  line-height: 1rem;
}

.footer-link {
  text-decoration: none;
  color: #999;
}

.footer-settings-buttons {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  margin-top: 1px; /* для макета */
  /*margin-bottom: -1px;*/
}

.footer-settings-button {
  display: block;
  margin: 0;
  margin-bottom: 17px; /* 1rem */
  padding: 0;
  font-family: 'Raleway', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 0.75rem;
  line-height: 1.33;
  text-align: left;
  color: #999;
  background: transparent;
  border: none;
}

.footer-help-title {
  margin: 0;
  padding: 0;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  font-family: 'Raleway', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 1rem;
  font-weight: 700;
  line-height: 19px;
  text-align: center;
}

.footer-contact-link {
  display: block;
  text-align: center;
  text-decoration: none;
  font-family: 'Lora', serif;
  font-size: 0.875rem;
  font-style: italic;
  line-height: 1.21;
  color: #171717;
}

@media only screen and (min-width: 48rem) {
  .footer {
    /*padding-left: 0.5rem;*/
    /*padding-right: 0.5rem;*/
  }

  .footer-wrapper {
    max-width: 48rem;
  }

  .footer-links {
    display: flex;
  }

  .footer-settings-buttons {
    flex-direction: row;
  }

  .footer-settings-button {
    margin: 0;
    margin-right: 1.5rem;
  }

  .footer-help {
    display: none;
  }
}
