/* Tags */

body {
  margin: 0;
  color: #171717;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Base */

.color-111 { color: #111; }

/* Header */

.header-logo {
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: solid 2px #c6c6c6;
}

.header-logo img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Item main info */

.item-main { padding-bottom: 2rem; }

.item-title {
  margin-top: 1.5rem;
  margin-left: 1rem;
  margin-bottom: 1.5rem;
  font-size: 0.875rem;
  font-family: 'Lora', serif;
}

.item-images {
  display: flex;
  flex-direction: row;
  overflow-y: auto;
}

.item-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
}

.item-price h2,
.item-price p {
  margin: 0;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.item-price h2 { font-size: 1.125rem; }
.item-price p { font-size: 0.75rem; }

.item-color-current {
  margin: 0;
  padding-left: 1rem;
  font-family: 'Raleway', sans-serif;
  font-size: 0.75rem;
}

.item-colorpicker {
  display: flex;
  margin-top: 1rem;
}

.item-colorpicker button {
  margin-left: 1rem;
  padding: 1.25rem;
  box-sizing: border-box;
  box-shadow: inset 0px 0px 0px 1px #232122;
  border: none;
  border-radius: 1.25rem;
}

.item-colorpicker .colorpicker-button-black { background-color: #232122; }
.item-colorpicker .colorpicker-button-honey { background-color: #cfa880; }

/* Item size info */

.item-size {
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 2.5rem;
  border-top: 2px solid #c6c6c6;
}

.item-size-buttons {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}

.item-size-buttons button {
  margin-bottom: 1rem;
  padding-top: 15px;
  padding-bottom: 15px;
  font-family: 'Raleway', sans-serif;
  font-size: 0.75rem;
  border: none;
  border-radius: 2px;
}

.item-size-button-black {
  background: #171717;
  color: #fff;
}

.item-size-button-white {
  background: #fff;
  color: #171717;
  box-shadow: inset 0px 0px 0px 1px #999999;
}

.item-size .item-size-button-help {
  /*margin-top: 0.5rem;*/
  padding-left: 0;
  padding-right: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-family: 'Raleway', sans-serif;
  font-size: 0.75rem;
  border: none;
  background: transparent;
}

/* Section menu */

.item-description {}
.item-shipping {}

.item-menu-header {
  display: flex;
  justify-content: space-between;
  padding-top: 1.875rem;
  padding-bottom: 1.875rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-top: solid 2px #c6c6c6;
}

.item-menu-header h2 {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  font-size: 0.875rem;
  font-weight: 500;
}

/* Recommend */

.item-recommend {
  padding-top: 2.75rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-top: 2px solid #c6c6c6;
}

.section-header-title {
  display: inline-block;
  margin: 0;
  margin-bottom: 1rem;
  padding-bottom: 0.5rem;
  font-family: 'Raleway', sans-serif;
  font-size: 0.875rem;
  font-weight: 500;
  border-bottom: solid 2px #111;
}

.recommendations {
  display: flex;
  margin-top: 1rem;
  flex-wrap: wrap;
  justify-content: space-between;
}

.recommendation-item {
  /*flex-grow: 1;*/
  box-sizing: border-box;
  margin-bottom: 2rem;
  flex-basis: 50%;
}

.recommendation-item:nth-child(odd) {
  padding-right: 0.875rem;
}

.recommendation-item:nth-child(even) {
  padding-left: 0.875rem;
}

.recommendation-item img {
  width: 100%;
  /*width: 130px;*/
  /*height: 174px;*/
}

.recommendation-item .recommendation-title {
  margin: 0;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  padding: 0;
  line-height: 1.5rem;
  font-family: 'Lora', serif;
  font-size: 1rem;
  color: #111;
}

.recommendation-item .recommendation-price {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 0.75rem;
  color: #999;
}

.item-more {
  margin-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.item-more ul {
  margin-top: 0.5rem;
}

.item-more li {
  margin-bottom: 1rem;
  font-family: 'Lora', serif;
  font-size: 0.875rem;
}

.item-more li a {
  text-decoration: none;
  font-style: italic;
  color: #171717;
}

/* footer */

.main-footer {
  margin-top: 4rem;
  padding: 2rem 1rem 2rem 1rem;
  background-color: #f3f3f3;
}

.main-footer .footer-buttons {}

.footer-buttons button {
  margin-bottom: 1rem;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  font-size: 0.75rem;
  color: #999;
  background-color: transparent;
  border: none;
}

.main-footer .footer-help {
  margin: 0;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  font-family: 'Raleway', sans-serif;
  font-size: 0.875rem;
  font-weight: 700;
  text-align: center;
}

.main-footer #footer-contact {
  display: block;
  text-align: center;
  text-decoration: none;
  font-family: 'Lora', serif;
  font-size: 0.875rem;
  font-style: italic;
  color: #171717;
}
